/* global */
:root {
  --martItems-padding: 68px;
  --items-padding-top: 36px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style-type: disc;
}
li {
  list-style: none;
}
li:hover,
button:hover {
  cursor: pointer;
}
image:hover {
  cursor: pointer;
}
/* local */

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  min-width: 1080px;
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}
.page__menu__container {
  width: 1080px;
  margin: 0px auto;
  height: 49px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.category__items__container {
  width: 1080px;
  margin: 0px auto;
  position: relative;
  height: 79px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 999;
}
.menu__items {
  display: flex;
  margin: 0px auto;
  height: 49px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.menu__item {
  float: left;
  position: relative;
  padding: 0px 10px;
  font-size: 12px;
}
.menu__item:first-child {
  padding-left: 0;
}

.menu__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  width: 1px;
  height: 9px;
  border-right: 1px solid rgb(221, 221, 221);
}

/* category navbar */
.category__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1080px;
  margin: 0px auto;
  position: relative;
  height: 79px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 999;
}
.whole__category {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 16.5px;
  padding-right: 16.5px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(115, 103, 92);
  min-height: 40px;
  line-height: 40px;
}
.whole__category::before {
  margin-right: 4px;
  position: relative;
  display: inline-block;
  content: " ";
  width: 20px;
  height: 22px;
  background-size: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAWJJREFUaAXt2r9Kw1AUx/FTNcT+QRTM6OSgi7uv4DO426nSR+gjFDtV0M0H0MVXcNZZEByKg8RBattLkibieM8gLe29yTfjCbf3dz4nBG6oCBcCCCCAAAIIILAigZq2z3B4Eby+ZGfafZfrhye1x3b72tgybtmKRe3tOdhJZHav3Xe5nmffz/N92jJu2IplrtFwmadb9Fa5CasvraTZnMnYPPg48aSRZ+dCAAEEEEAAAQQQQACBpQqon3h63e7utxk/LXW3Ff1YK2ic9vr9L9t26mlpasxmJtmRbZHrtSK7lrFy52Ea1h6FstQrN2H1pRVGUZzEH8c+Tjbci2Ifc5MZAQQQQAABBBBAwCsB9YvHVacTvsvk3Ktu/sIeyPbd5WAwtWVXDw+jNG2lIje2Ra7XRpIWf8axNly54yENu/64LpqvchNWX1qmXp/Ij7ldVHQd63+zr2Nj9kQAAQQQQOB/AnNLoUEKQvT/GQAAAABJRU5ErkJggg==);
}
.category__items {
  display: flex;
  align-items: center;
  width: 40%;
}
.category__item {
  position: relative;
  display: block;
  float: left;
  font-size: 14px;
  padding-right: 10px;
  font-weight: 500;
  color: rgb(136, 136, 136);
  transition: color 0.3s ease 0s;
  cursor: pointer;
  min-height: 40px;
  line-height: 40px;
}
.category__item:not(:last-child) {
  padding-right: 18px;
}
.category__item:not(:last-child)::after {
  content: " ";
  position: absolute;
  top: 17px;
  right: 6px;
  width: 2px;
  height: 2px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 2px;
  box-sizing: border-box;
}

.logo__container {
  width: 20%;
  text-align: center;
}
.logo {
  width: 120px;
  cursor: pointer;
}

.info__items {
  display: flex;
  width: 40%;
  height: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.info__item {
  position: relative;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
}
.info__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -1px;
  width: 1px;
  height: 20px;
  border-right: 1px solid rgb(238, 238, 238);
}
.icon__container {
  border: 0px;
  margin: 0px;
  text-decoration: none;
  padding: 0px 12px;
  font-weight: 500;
}
/* main__contents */
.main__contents__wrapper {
  width: 100%;
  background: rgb(246, 246, 246);
}
.main__contents {
  width: 100%;
  margin: 0px auto;
  max-width: 1080px;
  background: rgb(255, 255, 255);
}
/* ad__banner */
.slider__banner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide__image {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  display: block;
}
.slide__image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* mart__items in article tag*/
.mart__items {
  width: 100%;
}
/* items in mart_items */
.items__container {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding-left: var(--martItems-padding);
  padding-right: var(--martItems-padding);
}

.article__header {
  padding-top: var(--items-padding-top);
}
.article__title__wrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-width: 280px;
}
.article__title {
  border: 0px;
  padding: 0px;
  margin: 0px 8px 0px 0px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
}
.article__header__top__container {
  display: flex;
  justify-content: space-between;
}

.more__navigate__button {
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  background: none;
  appearance: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  align-self: center;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}
.article__subtitle {
  border: 0px;
  padding: 0px;
  margin: 4px 0px 0px;
  color: rgb(136, 136, 136);
  font-weight: 400;
  font-size: 15px;
}

.article__items {
  flex-flow: row nowrap;
  display: flex;
  margin-top: 12px;
  margin-bottom: 36px;
}
.article__items__floor__container {
  margin-top: 12px;
  margin-bottom: 36px;
}
.article__items__floor {
  display: flex;
  flex-direction: row;
}
.article__items__floor:not(:last-child) {
  margin-bottom: 36px;
}
.article__item {
  max-width: 144px;
  height: auto;
  flex: 1 1 0%;
  flex-direction: column;
}
.article__item:hover .item__image {
  transform: scale(1.1);
}
.article__item:first-child {
  margin-left: 0px;
}
.article__item:not(:first-child) {
  margin-left: 16px;
}
.article__item__info {
  margin-top: 12px;
}
.info__name {
  color: rgb(51, 51, 51);
  transition: all 0.3s ease 0s;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  -webkit-line-clamp: 2 !important;
}
.item__detail__info {
  color: rgb(136, 136, 136);
  font-weight: 400;
  letter-spacing: -0.5px;
  display: block;
  font-size: 12px;
}
.item__price {
  color: rgb(51, 51, 51);
  white-space: pre;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.57px;
}
.item__price__sale {
  color: rgb(255, 55, 55);
  font-weight: bold;
  white-space: pre;
  letter-spacing: -0.5px;
  margin-right: 6px;
  font-size: 16px;
}
.item__price__prev {
  white-space: pre;
  letter-spacing: -0.57px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(187, 187, 187);
  text-decoration: line-through;
}
.image__container {
  position: relative;
  overflow: hidden;
  width: 144px;
  height: 144px;
}
.item__image {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  display: block;
}
.item__image:hover {
  transform: scale(1.1);
}

/* baemin-banner */
.baemin__banner__container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 36px 68px 0px;
  width: 100%;
  background: rgb(255, 255, 255);
}
.baemin__banner {
  background: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 32px 64px 28px 46px;
  margin-bottom: 36px;
  width: 100%;
  border-radius: 8px;
}
.banner__text__wrapper {
  padding-right: 8px;
  width: 100%;
  flex: 1, 1, 0%;
}
.banner__top__wrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.banner__maintitle {
  margin: 0;
}
.banner__subtitle {
  border: 0px;
  padding: 0px;
  margin: 4px 0px 0px;
  color: rgb(136, 136, 136);
  font-weight: 400;
  font-size: 15px;
}
.banner__button__wrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  white-space: nowrap;
  overflow: auto;
}

.banner__button {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  background: none;
  appearance: none;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.banner__button:not(:last-child) {
  margin-right: 32px;
}
.button__image__container {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  overflow: hidden;
}
.button__image {
  transition: all 0.3s ease 0s;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.banner__button__image {
  transition: all 0.3s ease 0s;
}
.button__image:hover,
.banner__button__image:hover {
  transform: scale(1.1);
}

/* 기획전 배너 */
.ad__baemin__banner__container {
  display: flex;
  padding: 36px 68px 0px;
  flex-direction: column;
}
.ad__banner__content {
  display: flex;
  flex-direction: row;
  background: rgb(255, 255, 255);
  margin-bottom: 36px;
  justify-content: space-between;
}
.ad__banner__title__wrapper {
  margin-right: 39px;
  flex: 1, 1, 0%;
}

.ad__banner__button {
  width: 100%;
  max-width: 624px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  background: none;
  appearance: none;
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 624px;
  height: 144px;
  border-radius: 8px;
}

/* 수직 정렬 아이템 */
.vertical__items {
  margin-top: 12px;
  margin-right: 64px;
  margin-bottom: 36px;
}
.two__items {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.horizontal__item {
  display: flex;
  cursor: pointer;
  flex: 1 1 0%;
  flex-direction: row;
  width: auto;
  height: 96px;
}
.horizontal__item:first-child {
  margin-right: 80px;
}
.horizontal__item__image__wrapper {
  position: relative;
  overflow: hidden;
  min-width: 96px;
  width: 96px;
  height: 96px;
}
.item__sale {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: auto;
  height: 24px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 14px;
  z-index: 1;
  color: rgb(255, 255, 255);
  background: rgb(255, 55, 55);
}
.item__background__gray {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.05);
}
.horizontal__item__info {
  margin-left: 12px;
}

/* event banner */
.event__banner__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.event__banner__image {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
}

/* sample banner */
.sample__banner {
  background: rgb(255, 255, 255);
  padding-top: 16px;
  overflow: hidden;
}

.sample__banner__image {
  transition: all 0.3s ease 0s;
}
.sample__banner__image:hover {
  transform: scale(1.1);
}
.footer {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: rgb(136, 136, 136);
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.footer__line {
  width: 100%;
  height: 1px;
  background: rgb(221, 221, 221);
}
.terms__menu {
  display: flex;
  border: 0px;
  padding: 0px;
  width: 1080px;
  margin: 0px auto;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
}
.terms__items {
  display: flex;
  width: 100%;
}
.terms__item {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.5px;
  font-weight: 400;
  border: 0px;
  padding: 0px;
  margin: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  color: rgb(51, 51, 51);
}
.terms__item:not(:last-child)::after {
  content: " ";
  background: rgb(221, 221, 221);
  width: 1px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer__info {
  order: 0px;
  padding: 24px 0px 0px;
  width: 1080px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.clicked {
  font-weight: 700;
}

.end__line {
  border: none;
  height: 2px;
  background: rgb(246, 246, 246);
  width: 100%;
  margin: 0px;
}

.baemin__image {
  margin-top: 4px;
  height: 16px;
}
